<a href="https://colab.research.google.com/github/akashsabale01/DSBDA_Lab/blob/main/Ass_No_2_Data_Cleaning_N_Transformation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ass No 2 - Data Wrangling II
Create an “Academic performance” dataset of students and perform the following operations using
Python.
1. Scan all variables for missing values and inconsistencies. If there are missing values and/or
inconsistencies, use any of the suitable techniques to deal with them.
2. Scan all numeric variables for outliers. If there are outliers, use any of the suitable
techniques to deal with them.
3. Apply data transformations on at least one of the variables. The purpose of this
transformation should be one of the following reasons: to change the scale for better
understanding of the variable, to convert a non-linear relation into a linear one, or to
decrease the skewness and convert the distribution into a normal distribution.
Reason and document your approach properly.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('StudentPerformance.csv')
df

In [ ]:
# Use isnull() function to check null values in the dataset.
df.isnull()

In [ ]:
# To create a series true for NaN values for specific columns. 
# for example math score in dataset and display data with only math score as Nav 

series = pd.isnull(df['math score'])
df[series]

In [ ]:
# filling missing value using fillna() 
ndf = df
ndf.fillna(0)

In [ ]:
# Filling null values in dataset 
#To fill null values in dataset use inplace=true 

m_v=df ['math score'].mean() 
df['math score'].fillna(value=m_v, inplace=True) 
df

In [ ]:
#Following line will replace Nan value in dataframe with value -99 
ndf.replace(to_replace = np.nan, value = -99)

In [ ]:
#To drop rows with at least 1 null value 
ndf.dropna()

In [ ]:
#To Drop columns with at least 1 null value. 
ndf.dropna(axis = 1)

In [ ]:
#To drop rows with at least 1 null value in csv file. 
#making new data frame with dropped NA values 

new_data = ndf.dropna (axis = 0, how ='any') 
new data

In [ ]:
col = ['math score', 'reading score', 'writing score', 'placement score']
 df.boxplot(col) 

print(np.where(df['math score']>90))
print(np.where(df['reading score' ]<25)) 
print(np.where(df['writing score' ]<30))