In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
documentA = "Jupiter is the largest planet"

documentB = "Mars is the fourth planet from the sun"

In [3]:
bagOfWordsA = documentA.split(" ")
bagOfWordsB = documentB.split(" ")

In [4]:
# find unique words from the sentences
uniqueWords = set(bagOfWordsA).union(set(bagOfWordsB))
uniqueWords

{'Jupiter', 'Mars', 'fourth', 'from', 'is', 'largest', 'planet', 'sun', 'the'}

In [5]:
numOfwordsA = dict.fromkeys(uniqueWords, 0)

In [6]:
print(numOfwordsA)

{'from': 0, 'sun': 0, 'the': 0, 'planet': 0, 'Jupiter': 0, 'is': 0, 'largest': 0, 'fourth': 0, 'Mars': 0}

In [7]:
# we convert it into dictionary
numOfWordsA = dict.fromkeys(uniqueWords, 0)
for word in bagOfWordsA:
    numOfWordsA[word] += 1
    numOfWordsB = dict.fromkeys(uniqueWords, 0)

for word in bagOfWordsB:
    numOfWordsB[word] += 1

In [8]:
numOfWordsA

{'from': 0,
 'sun': 0,
 'the': 1,
 'planet': 1,
 'Jupiter': 1,
 'is': 1,
 'largest': 1,
 'fourth': 0,
 'Mars': 0}

In [9]:
numOfWordsB

{'from': 1,
 'sun': 1,
 'the': 2,
 'planet': 1,
 'Jupiter': 0,
 'is': 1,
 'largest': 0,
 'fourth': 1,
 'Mars': 1}

In [10]:
x = numOfWordsB.items()
x

dict_items([('from', 1), ('sun', 1), ('the', 2), ('planet', 1), ('Jupiter', 0), ('is', 1), ('largest', 0), ('fourth', 1), ('Mars', 1)])

In [11]:
# Calculation Of TF(Term- Frequency)
def computeTF(wordDict, bagOfWords):
    tfDict={}
    bagOfWordsCount = len(bagOfWords)
    for word, count in wordDict.items():
        tfDict[word] = count / float(bagOfWordsCount)
    return tfDict
TFA = computeTF(numOfWordsA, bagOfWordsA)
TFB = computeTF(numOfWordsB, bagOfWordsB)

In [12]:
TFA

{'from': 0.0,
 'sun': 0.0,
 'the': 0.2,
 'planet': 0.2,
 'Jupiter': 0.2,
 'is': 0.2,
 'largest': 0.2,
 'fourth': 0.0,
 'Mars': 0.0}

In [13]:
TFB

{'from': 0.125,
 'sun': 0.125,
 'the': 0.25,
 'planet': 0.125,
 'Jupiter': 0.0,
 'is': 0.125,
 'largest': 0.0,
 'fourth': 0.125,
 'Mars': 0.125}

In [14]:
# find the IDF
import math
def computeIDF(documents):
    N = len(documents)
    print(N)
    idfDict = dict.fromkeys(documents[0].keys(), 0)
    for document in documents:
        for word, val in document.items():
            if val > 0:
                idfDict[word] += 1
                
    for word, val in idfDict.items():
        idfDict[word] = math.log(N / float(val))
    return idfDict

In [15]:
idfs = computeIDF([numOfWordsA, numOfWordsB])
idfs

2

{'from': 0.6931471805599453,
 'sun': 0.6931471805599453,
 'the': 0.0,
 'planet': 0.0,
 'Jupiter': 0.6931471805599453,
 'is': 0.0,
 'largest': 0.6931471805599453,
 'fourth': 0.6931471805599453,
 'Mars': 0.6931471805599453}

In [16]:
def computeTFIDF(tfBagOfWords, idfs):
    tfidf = {}
    for word, val in tfBagOfWords.items():
        tfidf[word] = val * idfs[word]
    return tfidf

In [17]:
tfidfA = computeTFIDF(TFA, idfs)
tfidfB = computeTFIDF(TFB, idfs)
df = pd.DataFrame([tfidfA, tfidfB])
df

,from,sun,the,planet,Jupiter,is,largest,fourth,Mars
0,0.000000,0.000000,0.0,0.0,0.138629,0.0,0.138629,0.000000,0.000000
1,0.086643,0.086643,0.0,0.0,0.000000,0.0,0.000000,0.086643,0.086643