In [ ]:
# Name: Vishal Chumbalkar
# TE-A 27

In [1]:
import pandas as pd
import numpy as np
import os
import statistics as st

In [2]:
os.chdir("E:\Pandas")
data = pd.read_csv("Iris.csv")
print(data)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]

In [3]:
print("\nTo show top 5 rows:  using head(): ")
print(data.head(5))

To show top 5 rows:  using head():
   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
print("\nTo show last 5 rows:  using tail(): ")
print(data.tail(5))

To show last 5 rows:  using tail():
      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

In [5]:
print("To show columns of datasets")
print(data.columns)

To show columns of datasets
Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [6]:
print("\n\n\nTo show the total rows and columns using shape method ")
print(data.shape)

To show the total rows and columns using shape method
(150, 6)

In [7]:
print("\n\n to show the datatypes of in the dataset")
print(data.dtypes)

 to show the datatypes of in the dataset
Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [8]:
print("To show columns of the dataset")
print(data.columns.values)

To show columns of the dataset
['Id' 'SepalLengthCm' 'SepalWidthCm' 'PetalLengthCm' 'PetalWidthCm'
 'Species']

In [9]:
print("\n\n To show values of particular columns")
print(data['SepalLengthCm'])

 To show values of particular columns
0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: SepalLengthCm, Length: 150, dtype: float64

In [10]:
print("\n sort the columns in descending order ")
print(data.sort_index(axis=1, ascending=False))

 sort the columns in descending order
            Species  SepalWidthCm  SepalLengthCm  PetalWidthCm  PetalLengthCm  \
0       Iris-setosa           3.5            5.1           0.2            1.4
1       Iris-setosa           3.0            4.9           0.2            1.4
2       Iris-setosa           3.2            4.7           0.2            1.3
3       Iris-setosa           3.1            4.6           0.2            1.5
4       Iris-setosa           3.6            5.0           0.2            1.4
..              ...           ...            ...           ...            ...
145  Iris-virginica           3.0            6.7           2.3            5.2
146  Iris-virginica           2.5            6.3           1.9            5.0
147  Iris-virginica           3.0            6.5           2.0            5.2
148  Iris-virginica           3.4            6.2           2.3            5.4
149  Iris-virginica           3.0            5.9           1.8            5.1

      Id
0      1
1      2
2      3
3      4
4      5
..   ...
145  146
146  147
147  148
148  149
149  150

[150 rows x 6 columns]

In [11]:
print("To sort values by columns names:")
print(data.sort_values('SepalLengthCm'))

To sort values by columns names:
      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
13    14            4.3           3.0            1.1           0.1
42    43            4.4           3.2            1.3           0.2
38    39            4.4           3.0            1.3           0.2
8      9            4.4           2.9            1.4           0.2
41    42            4.5           2.3            1.3           0.3
..   ...            ...           ...            ...           ...
122  123            7.7           2.8            6.7           2.0
118  119            7.7           2.6            6.9           2.3
117  118            7.7           3.8            6.7           2.2
135  136            7.7           3.0            6.1           2.3
131  132            7.9           3.8            6.4           2.0

            Species
13      Iris-setosa
42      Iris-setosa
38      Iris-setosa
8       Iris-setosa
41      Iris-setosa
..              ...
122  Iris-virginica
118  Iris-virginica
117  Iris-virginica
135  Iris-virginica
131  Iris-virginica

[150 rows x 6 columns]

In [12]:
print("To access element an element using iloc[] method")
print(data.iloc[2])

To access element an element using iloc[] method
Id                         3
SepalLengthCm            4.7
SepalWidthCm             3.2
PetalLengthCm            1.3
PetalWidthCm             0.2
Species          Iris-setosa
Name: 2, dtype: object

In [13]:
print('\n\nselecting rows using slicing')
print(data[0:5])

selecting rows using slicing
   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [14]:
print("selection by label")
print(data.loc[:,["SepalLengthCm","SepalWidthCm"]])

selection by label
     SepalLengthCm  SepalWidthCm
0              5.1           3.5
1              4.9           3.0
2              4.7           3.2
3              4.6           3.1
4              5.0           3.6
..             ...           ...
145            6.7           3.0
146            6.3           2.5
147            6.5           3.0
148            6.2           3.4
149            5.9           3.0

[150 rows x 2 columns]

In [15]:
print("To show particular columns with particular rows")
print(data.iloc[:5,:])

To show particular columns with particular rows
   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [16]:
groupby=data.groupby(["Species"])["Id"].count()
#x=ir.groupby('Species')
print("group of species and there counts are: \n",groupby)

group of species and there counts are:
 Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Id, dtype: int64

In [25]:
z = data.describe()
print(z)

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [19]:
print("\nTo calculate the mean: ")
mean = st.mean(data.SepalLengthCm)
print(mean)

To calculate the mean:
5.843333333333334

In [20]:
median=st.median(data.PetalLengthCm)
print("\nmedian of PetalLengthCm is :",median)

median of PetalLengthCm is : 4.35

In [21]:
stdev=st.stdev(data.PetalLengthCm)
print("\nstandard deviation of PetalLengthCm is :",stdev)

standard deviation of PetalLengthCm is : 1.7644204199522626

In [22]:
variance=st.variance(data.PetalLengthCm)
print("\nvariance of PetalLength is :",variance)

variance of PetalLength is : 3.113179418344519

In [23]:
mode=st.mode(data.PetalLengthCm)
print("\nmode of PetalLengthCm is :",mode)

mode of PetalLengthCm is : 1.5

In [24]:
percentile=data.PetalLengthCm.quantile(0.5)
print("\npercentile of PetalLengthCm about 0.5 is :",percentile)

percentile of PetalLengthCm about 0.5 is : 4.35